@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

.app {
	min-height: 100vh;
	background-color: #FAFAFA;
	overflow-y: hidden;
}

.main-content {
	margin: 12px 48px 48px;
	padding: 12px 48px 48px;
}

.character-container {
	font-family: Fira Code;
	font-size: 1.5rem;
	margin-bottom: 4rem;
}

.character {
	border-radius: 4px;
	padding: 2px 2px;
	&:hover {
		background-color: #d9d9d9;
		cursor: pointer;
		user-select: none;
	}
}

.character--highlighted {
	@extend .character;
	background-color: #d1d1d1;
	font-weight: 600;
	&:hover {
		background-color: #d9d9d9;
	}
}

.character--chord {
	@extend .character;
	font-weight: 600;
	border-radius: 4px;
}

.song-line {
	margin: 0.5rem 0rem
}
